
:root {
  --background-color: #708090;
  --text-color: #ffffff;
}

.my-icon-class {
  border-radius: 0 !important;
  border: none !important;
  width: 300px !important;
  height: 70px !important;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

}
